# clutter that might appear in the root directory that shouldn't be part of the repository
*.backup
*.bmp
*.compress
*.conf
*.csv
*.dat
*.data
*.dll
*.e
*.epub
*.gif
*.html
*.o
*.obj
*.jpg
*.js
*.json
*.log
*.pdf
*.png
*.py
*.rfi
*.s
*.txt
*.py
*.wasm
*.xlm
*.xls
*.xlsx
1mpsc*
256color
assets
assets/*
assets-stars
assets-stars/*
assets-tf
assets-tf/*
astropix
atten
bat
bat/*
connect*
chargrid
chat
chick
clip
clutter
clutter/*
color*
colrname
compress
convpng
copra
counter
curate
cuts
cvideo.sh
disc*
doublek*
ds.sh
dump
dataset
findnotxt
flip
fotw
frames
gmon.out
gpt
imgn
imgnr
input.*
jeopard*
jukebox
kohya*
laion
lang
latent
libgen
llamaembed
llamagen
llamaisn
llamasummarize
llamatok
lora
lusty
makefr
midi
midipart
mp3
mullvad*
news2
newspapers
ngc
nnets
nnets/*
optn
output
output/*
paint
polyn
probepoch
profiled
prompt
prompt2
quant
randbmp
sac
screencapsite
sf2info
sql
tags
test
testfont
testpat
testrng
testsat
testwav
textualize.sh
thisorthat*
tmp*
toy
wikiart
wikimedia
x
test/*
